@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

body {
    background:
        radial-gradient(circle at 30% 20%,
            #d7d7d7 0%,
            transparent 40%),
        linear-gradient(135deg,
            #d7d7d7 0%,
            #d7d7d7 60%,
            #2b2b2b 100%);
    overflow: hidden;
}

.pre-loader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    pointer-events: none;
}

.pre-loader.hidden {
    display: none;
}


.loader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 400px;
    z-index: 2;
    color: #fff;
}

.loader-content.hiden {
    display: none;
}

.count {
    flex: 2;
    text-align: center;
    line-height: 1;
    padding: 0 10px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.copy {
    flex: 6;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 5px;
}

.ml16 {
    overflow: hidden;
}

.ml16 .letter {
    display: inline-block;
    line-height: 1em;
}

.loader-bg {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    background: #6a6a6a;
    z-index: -1;
}

.loader-2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.site-content {
    position: relative;
    z-index: -2;
}

.site-content.index {
    z-index: 200;
}

nav {
    width: 100%;
    padding: 2em;
    display: flex;
    position: fixed;
    border-bottom: 1px solid #ccc;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    cursor: pointer;
}

.links a {
    padding: 6px 14px;
    transition: all 0.3s ease;
}

.links a:hover {
    background-color: #6a6a6a;
    color: #fff;
}

.header {
    display: flex;
    padding: 1em;
}

.header h1 {
    flex: 1;
    position: relative;
    font-size: 20vw;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    user-select: none;
    background: linear-gradient(135deg,
            #000000 0%,
            #575757 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.desc {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2em;
}


.desc-copy {
    width: 90%;
}


.grid-overlay {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999;

    background-image:
        repeating-linear-gradient(to right,
            rgba(255, 255, 255, 0.04) 0px,
            rgba(255, 255, 255, 0.04) 1px,
            transparent 1px,
            transparent 120px),

        repeating-linear-gradient(to bottom,
            rgba(255, 255, 255, 0.04) 0px,
            rgba(255, 255, 255, 0.04) 1px,
            transparent 1px,
            transparent 120px);
}

.page-transition {
    position: fixed;
    inset: 0;
    background: linear-gradient(135deg,
            #050505,
            #050505);
    z-index: 9999;
    pointer-events: none;

    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transition: clip-path 1.1s cubic-bezier(.77, 0, .18, 1);
}

.page-transition.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


.page-enter {
    animation: pageIn 3s cubic-bezier(.77, 0, .18, 1) forwards;
}

@keyframes pageIn {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.about-title {
    display: flex;
    align-items: center;
}

.about-title h1 {
    margin-top: 300px;
    padding: 20px 50px;
}


@media(max-width: 900px) {
    desc {
        flex-direction: column;
        gap: 2em;
    }

    .desc-copy p {
        width: 100%;
    }

}

@media(max-width: 500px) {
    nav {
        padding: 1em;
    }

    .links a {
        padding: 3px 7px;
    }

    .desc {
        width: 100%;
        transform: translateY(-200px);
        padding-left: 20px;
    }
}